asgiref==3.9.1
certifi==2025.7.9
charset-normalizer==3.4.2
cmudict==1.0.33
Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
pillow==11.3.0
pyphen==0.17.2
requests==2.32.4
setuptools==80.9.0
sqlparse==0.5.3
textstat==0.7.7
urllib3==2.5.0
zipp==3.23.0
